/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.editor-styles-wrapper .wp-block-create-block-sbird-posts-number-block {
	background-color: #F5F5F5;
	padding: 2px;
}


.sbird-posts-number-block__count {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0 5px;
}